html {
  font-size: 62.5%; }
  html * {
    border: 0px;
    padding: 0px;
    margin: 0px; }
  html body {
    font-family: 'Scada', sans-serif;
    font-size: 2rem;
    background-image: linear-gradient(to top, #cfcfcf, #a29b9b); }
    html body div .subtituloPrincipal {
      color: #CA2D2B;
      font-size: 2rem;
      text-align: center;
      font-family: "Cinzel Decorative", cursive; }
    html body nav .navegacion {
      background-color: #A22522;
      border-radius: 3px; }
    html body nav .menu {
      list-style: none;
      background-color: #A22522;
      margin-top: 40px;
      border-radius: 3px;
      padding: 10px;
      width: auto; }
      html body nav .menu li {
        display: inline-block; }
        html body nav .menu li a {
          text-decoration: none;
          font-size: 1.5rem;
          padding: 10px;
          color: #F7DEDF; }
      html body nav .menu li:hover {
        background-color: #858585;
        border-radius: 3px; }
  html section .tituloIframe {
    color: #A22522;
    font-size: 2.5rem;
    text-align: center;
    font-family: "Cinzel Decorative", cursive;
    margin-top: 150px; }
  html div .fraseArtista {
    width: 100%;
    height: 110px;
    text-align: center;
    padding: 30px;
    margin-top: 5px;
    font-family: 'Fondamento', cursive;
    margin-bottom: 10px;
    background-image: linear-gradient(to top, #A22522, #CA2D2B);
    border-radius: 3px;
    font-size: 2rem; }
  html div section div div .logoLANATA {
    margin-top: 40px; }
  html div .caja1 {
    font-size: 2rem;
    padding: 10px;
    text-align: center; }
  html footer {
    width: 100%;
    margin: 30px auto; }
    html footer .redes {
      list-style: none; }
      html footer .redes li {
        display: inline-block;
        margin-left: 30px; }
        html footer .redes li a {
          display: block;
          text-decoration: none;
          font-size: 2rem;
          margin: 20px;
          color: #858585; }
          html footer .redes li a img {
            width: 20px;
            height: 20px; }
    html footer .parrafofooter {
      margin-left: 20px; }
    html footer li:hover {
      background-color: #A22522;
      border-radius: 3px; }
  @media (min-width: 1024px) {
    html iframe {
      width: 500px;
      height: 300px;
      margin-bottom: 3px;
      margin-top: 20px; }
    html .carrusel {
      margin-left: 160px; }
    html footer {
      width: 100%;
      margin: 30px auto; }
      html footer .redes {
        list-style: none; }
        html footer .redes li {
          display: inline-block;
          margin-left: 280px; }
          html footer .redes li a {
            display: block;
            text-decoration: none;
            font-size: 2rem;
            color: #858585; }
            html footer .redes li a img {
              width: 30px;
              height: 30px; }
      html footer .parrafofooter {
        margin-left: 512px; }
    html div div header img {
      margin-left: 100px; }
    html section .caja1 {
      font-size: 2rem;
      padding: 100px;
      text-align: center; }
    html div .fraseArtista {
      width: 100%;
      height: 110px;
      text-align: center;
      padding: 45px;
      margin-top: 10px;
      font-family: 'Fondamento', cursive;
      margin-bottom: 10px;
      background-image: linear-gradient(to top, #A22522, #CA2D2B);
      border-radius: 3px;
      font-size: 3rem; }
    html div nav .navegacion {
      background-color: #A22522;
      border-radius: 3px; }
    html div nav .menu {
      list-style: none;
      background-color: #A22522;
      margin-top: 40px;
      border-radius: 3px;
      padding: 20px;
      width: auto; }
      html div nav .menu li {
        display: inline-block; }
        html div nav .menu li a {
          text-decoration: none;
          font-size: 2rem;
          padding: 20px;
          color: #F7DEDF; }
      html div nav .menu li:hover {
        background-color: #858585;
        border-radius: 3px; }
    html div div div section .imagen {
      margin-bottom: 10px; }
    html section div div .tituloBiografia {
      color: #A22522;
      font-size: 3rem;
      text-align: center;
      font-family: "Cinzel Decorative", cursive; }
    html section div .cajasBiografia1 {
      color: #4d4141;
      font-size: 2rem;
      text-align: left;
      height: auto;
      border-radius: 3px;
      overflow: none;
      margin-left: 0px;
      margin-bottom: 20px;
      margin-top: 60px;
      margin-bottom: 40px;
      background-color: #d2cccc;
      box-shadow: 5px 5px 5px 5px #A22522; }
    html section div .cajasBiografia2 {
      color: #4d4141;
      font-size: 2rem;
      text-align: left;
      height: auto;
      border-radius: 3px;
      overflow: none;
      margin-left: 0px;
      margin-bottom: 20px;
      margin-top: 100px;
      background-color: #d2cccc;
      box-shadow: 5px 5px 5px 5px #A22522; }
    html section div .listaVestidas {
      text-align: center;
      color: #A22522;
      list-style-type: none; }
    html section div .listaViajes {
      text-align: center;
      color: #A22522;
      list-style-type: none; }
    html section div .listas {
      color: #A22522;
      list-style-type: none; }
    html section div .imagen {
      margin-bottom: 10px; } }
  html div div .tituloBiografia {
    color: #A22522;
    font-size: 3rem;
    text-align: center;
    font-family: "Cinzel Decorative", cursive; }
  html div .cajasBiografia1 {
    color: #4d4141;
    font-size: 2rem;
    text-align: left;
    height: auto;
    border-radius: 3px;
    overflow: none;
    margin-left: 10px;
    margin-bottom: 10px;
    background-color: #d2cccc;
    box-shadow: 5px 5px 5px 5px #A22522; }
  html div .cajasBiografia2 {
    color: #4d4141;
    font-size: 2rem;
    text-align: left;
    height: auto;
    border-radius: 3px;
    overflow: none;
    margin-bottom: 10px;
    margin-left: 10px;
    background-color: #d2cccc;
    box-shadow: 5px 5px 5px 5px #A22522; }
  html div .listaVestidas {
    text-align: center;
    color: #A22522;
    list-style-type: none; }
  html div .listaViajes {
    text-align: center;
    color: #A22522;
    list-style-type: none; }
  html div .listas {
    color: #A22522;
    list-style-type: none; }
  html div .imagen {
    margin-bottom: 10px; }
  html section div .tituloSeccion {
    color: #A22522;
    font-size: 3rem;
    text-align: center;
    font-family: "Cinzel Decorative", cursive; }
  html section div .tituloSeccion {
    color: #A22522;
    font-size: 3rem;
    text-align: center;
    font-family: "Cinzel Decorative", cursive; }
  html .Revista {
    font-family: "Cinzel Decorative", cursive;
    color: #A72727;
    font-size: 4rem;
    text-align: center; }
  html .tituloArticulo {
    color: #C62F2F;
    font-size: 4rem;
    text-align: center; }
  html .autor {
    color: #4d4141;
    text-align: left; }
  html .parteArticulo {
    color: #421012;
    font-size: 2.5rem;
    text-align: center; }
    html .parteArticulo a {
      text-decoration: none;
      color: #A22522; }
    html .parteArticulo a:hover {
      animation: shakeY; }
  html div div .tituloFormulario {
    color: #A22522;
    font-size: 3rem;
    text-align: center;
    font-family: "Cinzel Decorative", cursive; }
  html div div div .formulario {
    font-size: 2.5rem;
    background-color: #A22522;
    border: 10px #EFBDC2;
    margin: 60px;
    border-radius: 3px; }
  html div div div form select {
    color: #902326; }
  html div div div form input {
    color: #902326;
    border-radius: 3px;
    background-color: #d2cccc;
    margin-bottom: 10px; }
  html div div div form label {
    color: #F7DEDF;
    text-align: center; }
  html div div div form option {
    background-color: #d2cccc; }
  html div div div form .fraseacepta {
    color: #F7DEDF; }
  html div iframe {
    margin-top: 0px;
    margin-bottom: 10px; }
