$color-principal:#A22522;
$color-subtitulo:#CA2D2B;
$tipografia-titulos:'Cinzel Decorative', cursive;
$tamano-tipografia:2rem;
$centrado:center;
$tamano-titulos:3rem;
$borde-redondeado:3px;


@mixin principal($colorPrimario, $tamano, $alineacion) {
    color: $colorPrimario;
    font-size: $tamano;
    text-align: $alineacion;
}


html{
    *{
        border: 0px;
        padding: 0px;
        margin: 0px;
    }
    font-size: 62.5%;
    body{
        font-family: 'Scada', sans-serif;
        font-size:2rem;
        background-image:linear-gradient(to top, #cfcfcf,    #a29b9b   );
        div{
            div{
                header{
                        img{
                            margin-left: 100px;

                        } 
                }
            }
            @media (min-width:740px){
               div{
                div{
                    div{
                        header{
                            img{
                                width: auto;
                            }
                        }
                    }
                }
            } 
               }
                .subtituloPrincipal{
                    @include principal($color-subtitulo, 2rem, center);
                    font-family:$tipografia-titulos;
                }
            }
            nav{
                .navegacion{
                    background-color: $color-principal;
                    border-radius:$borde-redondeado;
                }
                .menu{
                    list-style: none;
                    background-color: $color-principal;
                    margin-top: 40px;
                    border-radius: $borde-redondeado;
                    padding: 20px;
                    width: auto;
                    li{
                        display: inline-block;
                        a{
                            text-decoration: none;
                            font-size: $tamano-tipografia;
                            padding: 20px;
                            color: #F7DEDF;
                        }
                    }
                    li:hover{
                        background-color: #858585 ;
                        border-radius: $borde-redondeado;
                    }
                }
            }
        }

        section{
            .tituloIframe{
                @include principal($color-principal, 2.5rem, center);
                font-family: $tipografia-titulos;
                margin-top: 150px;
            }
        }
        div{
            .fraseArtista{
                width: 100%;
                height: 110px;
                text-align: $centrado;
                padding: 45px;
                margin-top: 10px;
                font-family: 'Fondamento', cursive;
                margin-bottom: 10px;
                background-image: linear-gradient(to top,#A22522, #CA2D2B );
                border-radius: $borde-redondeado;
                font-size: 3rem;
            }
        section{
            div{
                div{
                    
                        .logoLANATA{
                            margin-top: 40px;
                        }
                    
    
                }
            }
        }

            .caja1{
                font-size: 2rem;
                padding: 100px;
                text-align: center;
            }
        }
        footer{
            width: 100%;
            margin: 30px auto;
            .redes{
                list-style: none;
                li{
                    display: inline-block;
                    
                    a{
                        display: block;
                        text-decoration: none;
                        font-size: 2rem;
                        margin: 20px;
                        color: #858585;
                        img{
                            width: 20px;
                            height: 20px;
                        }
                    }
                }
            }
            li:hover{
                background-color: $color-principal;
                border-radius: $borde-redondeado;
            }
        }
        @media (min-width:1024px){
            iframe{
                width: 500px;
                height: 300px;
                margin-bottom: 3px;
                margin-top: 20px;
            }
            .carrusel{
                margin-left: 160px;
            }
            footer{
                width: 100%;
                margin: 30px auto;
                .redes{
                    list-style: none;
                    li{
                        display: inline-block;
                        margin-left: 280px;
                        a{
                            display: block;
                            text-decoration: none;
                            font-size: 2rem;

                            color: #858585;
                            img{
                                width: 30px;
                                height: 30px;
                            }
                        }
                    }
             }
             .parrafofooter{
                margin-left: 512px;
            }
            }
        }
        }
        div{
            div{
                .tituloBiografia{
                    @include principal($color-principal, 3rem, center);
                    font-family: $tipografia-titulos;
                }
            }

            .cajasBiografia{
                @include principal(#4d4141, 2rem, left);
                height: auto;
                border-radius: $borde-redondeado;
                overflow:none;
                margin-left: 0px;
                margin-bottom: 20px;
            }
            .cajasBiografia1{
                @extend .cajasBiografia;
                margin-top: 60px;
                margin-bottom: 40px;
                background-color: #d2cccc;
                box-shadow:5px 5px 5px 5px $color-principal;
            }
            .cajasBiografia2{
                @extend .cajasBiografia;
                margin-top: 100px;
                background-color: #d2cccc  ;
                box-shadow:5px 5px 5px 5px $color-principal;
            }
            .listaVestidas{
                text-align: $centrado;
                color:  $color-principal;
                list-style-type: none; 
            }
            .listaViajes{
                text-align: center;
                color: $color-principal  ;
                list-style-type: none; 
            }
            .listas{
                color: $color-principal  ;
                list-style-type: none; 
            }
            .imagen{
                
            }
            
        }
        section{
            div{
                 .tituloSeccion{
                    @include principal($color-principal, $tamano-titulos, center);
                    font-family: $tipografia-titulos;
                  }
            }
        }
        section{
                div{
                    .tituloSeccion{
                        @include principal($color-principal, $tamano-titulos,  center);
                        font-family: $tipografia-titulos;
                    }
                }            
        }

            .Revista{
                font-family: $tipografia-titulos;
                @include principal(#A72727, 4rem, center);
            }
            
            .tituloArticulo{
                @include principal(#C62F2F, 4rem, center);
            }
            
            .autor{
                color: #4d4141;
                text-align: left;
            }
            
            .parteArticulo{
                @include principal(#421012, 2.5rem, center);
                a{
                    text-decoration: none;
                    color: $color-principal;
                }
                a:hover{
                    animation: shakeY;
                }
            } 
            div{
                div{
                    .tituloFormulario{
                        @include principal($color-principal, $tamano-titulos, center);
                        font-family: $tipografia-titulos;
                    }
                }
            }
            div{
                div{
                    div{
                        .formulario{
                            font-size: 2.5rem;
                            background-color:$color-principal;
                            border: 10px #EFBDC2;
                            margin: 60px; 
                            border-radius: $borde-redondeado;
                        }
                        
                        form{
                           select{
                               color: #902326;

                           }
                           
                           input{
                               color: #902326;
                               border-radius: $borde-redondeado;
                               background-color:  #d2cccc ;
                           }
                           
                           label{
                               color: #F7DEDF;
                               
                           }
                           option{
                               background-color:  #d2cccc ;
                           }
                           
                           .fraseacepta{
                               color: #F7DEDF;
                           }
                    
                    }    }
                }
            }


